@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Roboto:ital,wght@1,300&display=swap');

h1, h2 {
  font-family: 'Redressed', cursive;
  color: #63686a;
}

h1 {
  text-align: center;
}
#pancake-img {
  text-align: center;
}
body {
  background-color: #fff0c3;
  
}

.roboto {
 font-family: 'Roboto', sans-serif;
}

.recipe {
  padding-left: 350px;
}



